@charset "utf-8";
/* CSS Document */
.h1 {
	font-family: "Geometos Neue Bold";
	font-size:25px;
	color: #E14F4F;
	letter-spacing: 0.05em;
}

header {
	width: 100%;
	top: 0px;
	padding: 1.5em;
	position: fixed;
}

ul {
	font-family: "Geometos Neue Bold";
	font-size: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FCFBFB;
}

li {
	float:left;
	border-right: 1px solid #000000;
}

li a {
	display: block;
	color: #C15718;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #555;
	color: whitesmoke;
}



.active {
	background-color: #000000;
	color: whitesmoke;
}