@charset "utf-8";
/* CSS Document */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

nav ul {
	list-style: none;
	display: flex; 
	flex-wrap: wrap; 
	max-width: 1080px; 
	margin: 0 auto;		
	background:#E14F4F;
	opacity: 0.85;
}

li {
	float:left;
	border-right: 2px solid whitesmoke;
}

nav ul,
nav li {
	flex: 1;
	font-family: "Paper Cuts";
}
nav li:last-child {
	border-bottom: none;
}
nav a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 1.8rem;
}
nav a:hover {
	background: #555;
	color: whitesmoke;
}
nav li {
	position: relative;
	line-height: 50px;
	color: whitesmoke;
	text-align: center;
}

nav input,
nav label {
	display: none;
	width: 36px; 
	height: 36px; 
	background: #555; 
	color: whitesmoke; 
	text-align: center; 
	line-height: 36px;
	font-size: 1.6rem;
	border-radius: 2px;
} 
nav label {
	position: absolute; 
	top: 8px; 
	right: 8px; 
	transition: .4s;
}
nav label:hover {cursor:pointer;}
nav label:before {
	font-family: FontAwesome;
	font-size: 24px;
	content: "\f0c9";
	text-align: center;
}

@media only screen and (max-width: 1080px){
   nav {
      position: relative;
   }
	nav ul {
		transform: translateY(0);
		box-shadow: 0 0 5px rgba(0,0,0, .7);
    	transition: all .5s;
    	position: absolute;
    	width: 100%;
		opacity: 0.8;
	}
	nav li {
		flex: none; 
		width: 100%;
		border-bottom: solid 1px whitesmoke;
	} 
	nav input[type="checkbox"]:checked + ul  {
		transform: translateY(-100%);
		width: 100%;
		background: #555;   
    	transition: all .5s;
	}
	nav label{
    	display: block;
   }  
	nav input[type="checkbox"]:checked + ul li:nth-child(1){
		background: #555; 
		color: whitesmoke;
	}  
}

.navigation {
   -webkit-flex-flow: column wrap;
   flex-flow: column wrap;
   padding: 0;
}

ul {
	font-family: "Paper Cuts";
	font-size: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E14F4F;
}

.wrapper2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: hsl(0, 0%, 96%);
}

.wrap-item2 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.h2 {
	font-family: 'Paper Cuts';
	font-size:35px;
	color: #E14F4F;
	letter-spacing: 0.05em;	
}

.wrapper2 {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: hsl(0, 0%, 96%);
}

.wrap-item2 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: hsl(0, 0%, 96%);
}

.wrap-item1 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}


/* included as reference; had the wrap-item3 buttons within "wrapper" as ""wrap-item12" and the didn't row wrap (but squeezed smalle in one row) */
.wrap-item12 {
	display: flex;
	background-color: #FfFfFf;
	justify-content: contain;
	align-content: center;
	height: 100%;
	margin: 10px;
	object-fit: contain;
}

.wrapper2 {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: hsl(0, 0%, 96%);
}

.wrap-item2 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapper3 {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	flex-flow: row wrap;
	justify-content: center;
}

.wrap-item3 {
	flex-flow: row wrap;
	background-color: #FfFfFf;
	justify-content: contain;
	align-content: center;
	height: 100%;
	margin: 10px;
	object-fit: contain;
}

.button {
	font-family: "Paper Cuts";
	font-size: 25px;
	color: whitesmoke;
	background-color: #E14F4F;
	border: none;
	border-radius: 4px;
	width: 55px;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.24), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
	background-color: #555;
	color: whitesmoke;
}

.button:active {
	transform: translateY(6px);
}

.wrapper4 {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: #FAF5F6;
}

.wrap-item4 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: #FAF5F6;
}

.wrapperAbout-item1 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout-item2 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout-item3 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout-item4 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout-item5 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout-item6 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout-item7 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperAbout-item8 img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapperContact {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: #FAF5F6;
}

.wrapperContact-item img {
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
	align-self: center;
}

.wrapper5 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 250px;
}

.wrap-item51 {
	height: 250px;
	width: 100%;
	flex: 1
}

.wrap-item52 {
	opacity: 0.8;
	font-family: "Paper Cuts";
	color: whitesmoke;
	font-size: 20px;
	width: 100%;
	height: 30px;
	background-color: #E14F4F;
	text-align: center;
}

.wrapper6 {
	display: -webkit-box;
	display: -webkit-flex;
	dispaly: -ms-flexbox;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.wrap-item61 {
	height: 50px;
	width: 100%;
	background: #FDFCFC;
}

.wrap-item62 {
	display: flex;
	font-family: "Rabiohead";
	font-size:65px;
	color: #E14F4F;
	height: 75px;
	width: 1000px;
}