@import url("//hello.myfonts.net/count/358d2d");

  
@font-face {font-family: 'PaperCutsBlack';src: url('webfonts/358D2D_0_0.eot');src: url('webfonts/358D2D_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/358D2D_0_0.woff2') format('woff2'),url('webfonts/358D2D_0_0.woff') format('woff'),url('webfonts/358D2D_0_0.ttf') format('truetype'),url('webfonts/358D2D_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'PaperCuts';src: url('webfonts/358D2D_1_0.eot');src: url('webfonts/358D2D_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/358D2D_1_0.woff2') format('woff2'),url('webfonts/358D2D_1_0.woff') format('woff'),url('webfonts/358D2D_1_0.ttf') format('truetype'),url('webfonts/358D2D_1_0.svg#wf') format('svg');}
 